<div id="bodycontainer">
    <h2>Welcome to CSE Motors!</h2>
    <div id="infocontainer">
        <div id="info">
            <ul>
                <li id="infoheader">DMC Delorean</li>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
                <li id="own"><img src="/images/site/own_today.png" alt="Own Today"></li>
            </ul>
        </div>
    </div>
    <div id="reviewsupgrades">
        <div id="reviews">
            <ul>
                <li id="reviewheader"><h2>DMC Delorean Reviews</h2></li>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div id="upgradecontainer">
            <h2>Delorean Upgrades</h2>
            <div id="upgrades">
                <div id="flux">
                    <div class="image">
                        <a href="none"><img src=/images/upgrades/flux-cap.png alt="Flux Capacitor"></a>
                    </div>
                    <div class="link"><a href="none">Flux Capacitor</a></div>
                </div>
                <div id="flame">
                    <div class="image">
                        <a href="none"><img src=/images/upgrades/flame.jpg alt="Flux Capacitor"></a>
                    </div>
                    <div class="link"><a href="none">Flame Decals</a></div>
                </div>
                <div id="bumper">
                    <div class="image">
                        <a href="none"><img src=/images/upgrades/bumper_sticker.jpg alt="Bumper Sticker"></a>
                    </div>
                    <div class="link"><a href="none">Bumper Stickers</a></div>
                </div>
                <div id="hubcap">
                    <div class="image">
                        <a href="none"><img src=/images/upgrades/hub-cap.jpg alt="Hub Cap"></a>
                    </div>
                    <div class="link"><a href="none">Hub Caps</a></div>
                </div>
            </div>
        </div>
    </div>
</div>